<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inventarios.Core.Properties.Settings.AlmacenConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Almacen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>